html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

li {
  margin-top: 1rem;
}
