.intro {
  width: 100%;
  height: 28rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.intro__image {
  position: relative;
  overflow: hidden;
  width: 95%;
  height: 95%;
}

.intro__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro:hover .intro__detail {
  top: 0;
}

.intro__detail {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.intro_content {
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  color: #daa15e;
}

.intro__description {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #fff;
  margin: 10px 0;
}
